body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

header {
    width: 100vw;
    background: black;
    padding: 1vw;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    & .textodapagina {
        width: 30vw;
    }

    & .links {
        width: 30vw;
    }

    & .links a {
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
        margin: 1vw;
    }

    & .links a:hover {
        color: orange;
        padding: 1vw;
        border-radius: 15px;
    }
}


h1 {
    color: #333333;
    font-size: 2em;
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #666666;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #444444;
}